<div class="display-product-container">
    <h1 class="display-product-header">GaPBy Menu</h1>
    <div class="display-product-body">
        <div class="toppage">
            <div [class.trapezoid-active]="mode == 'box'" class="trapezoid" (click)="changemode('box')">
                <span>กล่อง</span>
            </div>
            <div [class.trapezoid-active]="mode == 'table'" class="trapezoid" (click)="changemode('table')">
                <span>ตาราง</span>
            </div>
        </div>
        <div class="bodypage">
            <div *ngIf="mode == 'box'" class="box-mode">
                <div *ngIf="!isloading">
                    <app-box-display [products]="products"></app-box-display>
                </div>
                <div *ngIf="isloading" class="lds-ring"><div></div><div></div><div></div><div></div></div>
            </div>
            <div *ngIf="mode == 'table'"  class="table-mode">
                <div *ngIf="!isloading">
                    <app-table-display [products]="products"></app-table-display>
                </div>
                <div *ngIf="isloading" class="lds-ring"><div></div><div></div><div></div><div></div></div>
            </div>
        </div>
    </div>
</div>